.header {
  width: 100%;
  height: 900px;
  background: url('/img/page1.png') no-repeat center center scroll;
}

@media(max-width: 768px) {
  .header {
    background: url('/img/page1a.png') no-repeat center center scroll;
    height: 768px;
  }
}

@media(max-width: 568px) {
  .header {
    background: url('/img/page1b.png') no-repeat center center scroll;
    height: 568px;
  }
}
