.Backdrop {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100%;
  background: url('../../lib/background.png') no-repeat fixed;
  background-size: cover;
  background-position: center;
}